<html>
<head>
  <title>Neopix-Lantern UI</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="background-color: black">
<div id="pixels">

</div>

</body>

<style>
  .pixel {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 2px;
    display: inline-block;
  }
</style>

<script>
  var waiting = false;
  var lastLength = null;

  function buildPixelTape(json) {
    var p = 0;
    for (var i = 0; i < (json.length / 3); i++) {
      $('#pixels').append("<div id='pixel-" + p + "' class='pixel'></div>");
      p++;
    }
  }

  function colorPixels(json) {
    var buffer = [];
    var p = 0;
    json.forEach(function (i) {
      buffer.push(i);
      if (buffer.length == 3) {
        $("#pixel-" + p).css("backgroundColor",
            "rgb(" + buffer[0] + "," + buffer[1] + "," + buffer[2] + ")");
        buffer = [];
        p++;
      }
    });
  }

  $(function () {
    setInterval(function () {
      if (!waiting) {
        waiting = true;
        $.ajax({
          url: '/data',
          success: function (resp) {
            var json = JSON.parse(resp);
            if (json.length != lastLength) {
              buildPixelTape(json);
              lastLength = json.length;
            }
            colorPixels(json);
            waiting = false;
          }
        });
      }
    }, 1);
  });

</script>

</html>
